.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

 body {
  background-color: #F4A513
}

#welcome{
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 65px;
  text-align: center;
}

#looking {
  font-family: 'Fontdiner Swanky', cursive;
  text-align: center;
}

button {
  padding: 30px;
  font-size: 20px;
  font-family: 'Fontdiner Swanky', cursive;
  display: inline-block;
  background-color: #A32C23;
  border: none;
  border-radius: 12px;
  transition-duration: 0.4s;
}

button:hover{
  background-color: #004D42;
}

#onejoke {
  float: left;
  margin-left: 15px;
}

#tenjokes {
  float: right;
  float: bottom;
  margin-right: 15px;
  
}

#header{
 background-color: #A32C23;
 padding: 1px;
 text-align:center;
 font-family: 'Dancing Script', cursive;
 font-size: 15px;
}

#img{
  display: block;
  float: bottom;
}